<footer>
    <ul>
        <li>coding ninja</li>
        <li>All Rights Reserved</li>
        <li><ul>
         <li><a href="/">Home </a></li>
        <li><a href="/user/profile">Profile </a></li>
        </ul></li>
    </ul>
</footer>