<%- include('_header');%>
<link rel="stylesheet" href="/css/home.css">

<% let found=false%>
<% for (post of posts){%>
    <%for(friend of friendlist){%>
        <%if(post.user.name==friend){%>
           <%found=true%>
           <%break%>
    <%}%>
    <%if(found==true){%>
        <%break%>       
            <%}%>
    <% } %>
    <%}%>
  <div id="posts-list-container">
      <%if(found==false){%>
        <div id="start">
        <img src="/images/start_image.png">
        <p>Start by creating a new post</p>
       </div>
        <%}else{%>
    <div class="think"> 
        <img src="/images/think2.png">
    </div>
                <div class="wrapper">
                <ul>
                    <% for (post of posts){%>
                        <%for(friend of friendlist){%>
                            <%if(post.user.name==friend){%>
                        <%- include('_post') -%>
                        <%}%>
                        <% } %>
                        <%}%>
                </ul>
            </div>
            </div>
            <%}%>
            <script src="js/home_post_comments.js"></script>
            <script src="js/toggle_likes.js"></script> 
            <script>
                $('.card').each(function(){ 
           let self = this; 
           console.log(self.id);
           let postId = self.id.split("_")[1];
           new PostComments(postId);    
     }); 
     </script>
 <script> 
     $('.toggle-like-button').each(function(){ 
        let self = this; 
         let toggleLike = new ToggleLike(self); 
     }); 
 </script> 


