@import url("https://fonts.googleapis.com/css?family=Lobster");
#comments {
  min-height: 730px;
  place-items: center;
  padding-top: 3%;
  background-image: linear-gradient(-225deg, #5D9FFF 0%, #B8DCFF 48%, #6BBBFF 100%); }
  #comments .comment_display {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
    width: 60%;
    margin-left: 20%;
    margin-top: 3%; }
    #comments .comment_display ::-webkit-scrollbar {
      width: 10px;
      border: 1px solid #3c9bee; }
    #comments .comment_display ::-webkit-scrollbar-thumb {
      background-color: #70b1e9; }
  #comments h1 {
    margin-left: 40%;
    font-size: 50px;
    font-family: Lobster;
    font-weight: 400; }
  #comments #my_post {
    width: 50%;
    display: inline-block;
    margin-right: 1%; }
    #comments #my_post img {
      width: 100%;
      height: 70%;
      border: 1px solid black; }
  #comments #display {
    width: 48%;
    max-height: 70%;
    display: inline-block;
    vertical-align: top;
    overflow-y: auto; }
    #comments #display p {
      font-size: larger; }
    #comments #display li {
      list-style-type: none;
      margin-bottom: 5%; }
      #comments #display li #content {
        margin-bottom: 1%;
        font-size: 20px;
        font-family: Lobster;
        font-weight: 50px; }
        #comments #display li #content a {
          color: black;
          text-decoration: none;
          font-family: sans-serif; }
      #comments #display li #likes {
        margin-left: 2%;
        font-size: 15px;
        font-weight: 600; }
        #comments #display li #likes a {
          margin-left: 3%; }
  @media screen and (max-width: 1130px) {
    #comments .comment_display {
      width: 70%; } }
  @media screen and (max-width: 920px) {
    #comments .comment_display {
      margin-left: 15%; } }
  @media screen and (max-width: 870px) {
    #comments h1 {
      margin-top: 8%; }
    #comments .comment_display {
      margin-left: 10%;
      width: 80%; } }
  @media screen and (max-width: 650px) {
    #comments h1 {
      margin-top: 10%; }
    #comments .comment_display {
      margin-left: 4%;
      width: 94%; } }
  @media screen and (max-width: 500px) {
    #comments h1 {
      margin-top: 13%;
      font-size: 40px;
      margin-left: 30%; }
    #comments .comment_display {
      margin-left: 4%;
      width: 94%; }
      #comments .comment_display #my_post img {
        width: 100%;
        height: 60%;
        border: 1px solid black; }
      #comments .comment_display #display {
        width: 48%;
        max-height: 60%; } }
  @media screen and (max-width: 430px) {
    #comments .comment_display {
      margin-left: 1%;
      width: 98%; }
      #comments .comment_display #display p {
        font-size: 10px; } }
  @media screen and (max-width: 390px) {
    #comments .comment_display {
      margin-left: 1%;
      width: 98%;
      min-height: 60%; }
      #comments .comment_display #my_post {
        display: none; }
      #comments .comment_display #display {
        width: 80%;
        margin-left: 2%; }
        #comments .comment_display #display p {
          font-size: 15px; } }
  @media screen and (max-width: 370px) {
    #comments h1 {
      margin-top: 18%;
      font-size: 35px;
      margin-left: 30%; }
    #comments .comment_display {
      margin-left: 1%;
      width: 98%;
      min-height: 60%; }
      #comments .comment_display #my_post {
        display: none; }
      #comments .comment_display #display {
        width: 80%;
        margin-left: 2%; }
        #comments .comment_display #display p {
          font-size: 15px; } }
