.barmade {
  background-image: linear-gradient(-225deg, #5D9FFF 0%, #B8DCFF 48%, #6BBBFF 100%);
  position: fixed;
  z-index: 1; }
  .barmade .my_img {
    border-radius: 100%;
    padding-top: 15px; }

#head_form, #form2 {
  padding-top: 4%;
  margin-right: 320px; }
  #head_form .box, #form2 .box {
    width: 270px;
    height: 10px;
    border-radius: 30px;
    border: 1px solid #5a88cefa;
    display: flex;
    align-items: center;
    padding: 10px; }
    #head_form .box button, #form2 .box button {
      border: none;
      font-weight: bolder;
      background: transparent; }
      #head_form .box button i, #form2 .box button i {
        font-size: 20px;
        color: white; }
    #head_form .box input, #form2 .box input {
      border: none;
      outline: none;
      background: transparent;
      height: 27px;
      margin-left: 1%;
      color: cornsilk; }

#form2 {
  margin-left: 32px; }
  #form2 .box {
    width: 120px;
    height: 10px; }
    #form2 .box button {
      border: none;
      font-weight: bolder;
      background: transparent;
      margin-left: 0%; }
      #form2 .box button i {
        color: black; }
