::-webkit-scrollbar {
  width: 15px; }

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #8fc2f5;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5); }

::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: rgba(212, 247, 247, 0.945);
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.4); }

body {
  margin: 0%; }
